name: Markdown Lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  markdown-lint:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2

    - name: Setup Node.js
      uses: actions/setup-node@49933ea5288caeca8642195f2b846f4d15ff0c87  # v4.4.0
      with:
        node-version: "22"

    - name: Install markdownlint-cli
      run: npm install -g markdownlint-cli@0.44.0
        
    - name: Run markdownlint
      run: markdownlint "**/*.md" --ignore node_modules
